body {
    /* background: -webkit-linear-gradient(bottom, rgb(21, 30, 59), rgb(115, 115, 196)); */
    background: -webkit-linear-gradient(bottom, rgb(84, 179, 235), rgb(40, 119, 172));
    /* opacity: 0.5; */
    /* background-color: black; */
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}

div {
    max-width: 400px;
    max-height: 450px;
    border: none;
    border-radius: 1.5rem;
    margin: auto;
    margin-top: 6rem;
    padding-top: 1.75rem;
    padding-bottom: 2.75rem;
    background: -webkit-linear-gradient(bottom, rgb(12, 137, 209), rgb(31, 82, 116));
    box-shadow: 2px 2px 15px rgb(0, 7, 15), -2px -2px 15px rgb(0, 5, 12);
    opacity: 1.5;
}

label {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    opacity: 1;
}

input {
    /* margin: auto; */
    background-color: rgb(182, 137, 137);
    border: none;
    min-width: 10rem;
    min-height: 2rem;
    border-radius: 0.7em;
    padding-left: 0.8rem;
}

label p {
    /* float: right; */
    display: inline;
    font-size: 10pt;
}

form a {
    color: rgb(228, 212, 212);
}

button {
    margin-left: 0.95rem;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 0.9rem;
    background-color: rgb(8, 238, 8);
    color: rgb(10, 10, 10);
    letter-spacing: 0.1rem;
    font-family: sans-serif, Geneva, Tahoma, Verdana;
    font-size: 11pt;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}